USE [master]
GO
/****** Object:  Database [Conto]    Script Date: 19/11/2021 14:16:35 ******/
CREATE DATABASE [Conto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Conto', FILENAME = N'C:\Users\Alessia\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Conto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Conto_log', FILENAME = N'C:\Users\Alessia\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\Conto.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Conto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Conto]
GO
USE [Conto]
GO
/****** Object:  Table [dbo].[Conto]    Script Date: 19/11/2021 14:16:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conto](
	[NumeroConto] [int] NOT NULL,
	[Credito] [decimal](18, 0) NULL,
	[CodiceUtente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroConto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 19/11/2021 14:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[CodiceUtente] [int] NOT NULL,
	[Nome] [nchar](10) NULL,
	[Cognome] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodiceUtente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Conto] ([NumeroConto], [Credito], [CodiceUtente]) VALUES (1, CAST(10 AS Decimal(18, 0)), 1)
INSERT [dbo].[Conto] ([NumeroConto], [Credito], [CodiceUtente]) VALUES (2, CAST(22 AS Decimal(18, 0)), 1)
INSERT [dbo].[Conto] ([NumeroConto], [Credito], [CodiceUtente]) VALUES (3, CAST(500 AS Decimal(18, 0)), 2)
GO
INSERT [dbo].[Utente] ([CodiceUtente], [Nome], [Cognome]) VALUES (1, N'Alessio   ', N'Olla      ')
INSERT [dbo].[Utente] ([CodiceUtente], [Nome], [Cognome]) VALUES (2, N'Megan     ', N'Burth     ')
INSERT [dbo].[Utente] ([CodiceUtente], [Nome], [Cognome]) VALUES (3, N'Erik      ', N'Novi      ')
GO
ALTER TABLE [dbo].[Conto]  WITH CHECK ADD FOREIGN KEY([CodiceUtente])
REFERENCES [dbo].[Utente] ([CodiceUtente])
GO
USE [master]
GO
